.item {
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0;
    width: 100%;
    min-height: 0;
    background: 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: box-shadow .1s ease;
    -webkit-transition: -webkit-box-shadow .1s ease;
    transition: -webkit-box-shadow .1s ease;
    -o-transition: box-shadow .1s ease;
    transition: box-shadow .1s ease;
    transition: box-shadow .1s ease, -webkit-box-shadow .1s ease;
}
.content {
    min-width: 0;
    width: auto;
    display: block;
    margin-left: 0;
    -ms-flex-item-align: top;
    -ms-grid-row-align: top;
    align-self: top;
    padding-left: 1.5em;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
}

.item .header{
    display: inline-block;
    margin: -.21425em 0 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    margin-left: 13px;
    line-height: 2;
    width: 210px;
}

.ui.tiny.image{
    width: 175px !important;
    height: 160px !important;
}
.searchInput{
    margin-left: 200px !important;
}

.playlist-container{
    margin: 75px auto;
    width: 100%;
    margin-left: 10px !important;
}
.youtube-frame{
    float: left;
    margin-bottom: 50px;
}
.playlist-left{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    overflow-y: scroll;
    height: 400px;
}

.concerts{
    width: 835px;
    margin: auto auto;
    overflow-y: scroll;
    height: 467px;
}
.loginForm{
    width: 500px;
}
.dropdown-input{
    position: absolute !important;
    margin-top: 38px;
    float: left;
    margin-left: 75px;
}
.buttonsGrid{
    /*margin-left: 120px !important;*/
}
.tags-container{
    margin: 25px;
    width: 340px;
}
.similar-container{
    margin-top: -85px;
    float: right;
    margin-right: 350px;
}
.react-tags input, .react-tags__container > li {
  font-size: 12px;
  height: 26px;
  color: #626166;
  border-radius: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 9px; }

.playlist-segment{
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translate3d(8, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }


@-moz-keyframes slide-left {
  0% {
    -moz-transform: translate3d(8px, 0, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }

@-o-keyframes slide-left {
  0% {
    -o-transform: translate3d(8px, 0, 0); }
  100% {
    -o-transform: translate3d(0, 0, 0); } }

@keyframes slide-left {
  0% {
    transform: translate3d(8px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

.react-tags input {
  transition: border-color 0.3s ease;
  background: #FFF;
  border: 1px solid #D9D8DD;
  height: 24px;
  margin-top: 5px; }
  .react-tags input::-webkit-input-placeholder {
    color: rgba(98, 97, 102, 0.5); }
  .react-tags input::-moz-placeholder {
    color: rgba(98, 97, 102, 0.5); }
  .react-tags input:-ms-input-placeholder {
    color: rgba(98, 97, 102, 0.5); }
  .react-tags input::-ms-clear {
    display: none; }
  .react-tags input:focus {
    outline: none;
    border-color: #b1afb9; }

.react-tags__container {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none; }

.react-tags__container > li {
  line-height: 26px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-animation: slide-left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation: slide-left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-animation: slide-left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  animation: slide-left 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  background: #D9D8DD;
  margin: 5px 5px 0 0;
  transition: background 0.3s ease;
  cursor: default; }
  .react-tags__container > li:hover, .react-tags__container > li.active {
    background: #c9c8cf; }

.react-tags__container a {
  font-size: 12px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-block;
  margin-left: 7px;
  text-decoration: none; }
  .react-tags__container a:hover {
    color: #666666; }

.react-tags__container i {
  font-style: normal; }

.react-tags__container_readonly {
  pointer-events: none; }
